.content {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
}

.btmLink {
    width: 100%;
    display: flex;
    justify-content: space-between;
}